$page-padding: 2rem;

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);
}

.information-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__icon {
    width: auto;
    height: 3rem;
    color: $color-text-black;
    stroke-width: 1px !important;
  }

  &__text {
    color: $color-text-black;
    font-size: 1.5rem;
    text-align: center;
  }
}
