$aside-padding-top-bottom: 2rem;
$aside-width: 16rem;

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-aside-background;
  padding: $aside-padding-top-bottom 1.5rem;
  min-width: $aside-width;
  max-width: $aside-width;
  min-height: calc(100vh - 2 * $aside-padding-top-bottom);
}

.aside__top-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .top-side__logo {
    width: 100%;
    height: auto;
  }

  .top-side__divider {
    margin: 0;
    border: none;
    background-color: $color-text-white;
    height: 1px;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem 0;

  &__avatar {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 3.5rem;
    object-fit: cover;
    font-style: italic;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    @include apply-font($font-general);

    .info__names {
      color: $color-text-white;
      font-size: 1.25rem;
    }

    .info__email {
      color: $color-text-light-gray;
      font-size: 0.9rem;
    }
  }
}

.wallet {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: $gradient-secondary-diagonal;
    padding: 1.25rem 0.5rem;
    width: 100%;
    color: $color-text-white;

    .balance__title {
      font-weight: 200;
      font-size: 1.25rem;
    }

    .balance__amount {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  &__operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 100%;

    .operations__button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border: 0;
      background: transparent;
      padding: 0.25rem;
      overflow: hidden;
      color: $color-text-white;
      white-space: nowrap;
      @include apply-font($font-general);
      transition: color 0.2s ease;
      cursor: pointer;
      font-weight: 200;
      font-size: 1rem;

      &:hover {
        color: $color-accent-secondary-hover;
      }

      .button__icon {
        stroke-width: 1.25 !important;
        color: inherit;
      }
    }
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
  padding: 0.25rem;
  width: 100%;
  color: $color-text-white;
  text-decoration: none;
  @include apply-font($font-general);
  position: relative;
  cursor: pointer;
  isolation: isolate;
  font-weight: 200;
  font-size: 1rem;

  &::after {
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease;
    inset: 0;
    border-radius: 0.5rem;
    content: '';
  }

  &--tab::after {
    background: $gradient-secondary-horizontal;
  }

  &--logout::after {
    background: $gradient-logout-horizontal;
  }

  &--disabled {
    pointer-events: none;
  }

  &:hover::after,
  &--active::after {
    opacity: 1;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  & > svg {
    stroke-width: 1.25 !important;
    color: inherit;
  }
}

.aside__bottom-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.wallet-withdrawal-modal,
.wallet-top-up-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: $color-modal-background;
  padding: 2rem 2.75rem;
  width: 500px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .top__title {
      font-weight: 500;
      font-size: 1.5rem;
    }

    .top__close-icon-button {
      transition: color 0.4s ease;
      cursor: pointer;
      stroke-width: 1.5px !important;
      width: auto;
      height: 2.25rem;

      &:hover {
        color: $color-accent-primary;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 2rem;
    width: 100%;

    .form__actions {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .actions__cancel {
        @include default-button-with-spinner;
      }

      .actions__confirm {
        @include default-button-with-spinner(
          $color-accent-primary,
          $color-accent-primary-hover
        );
      }

      .actions__cancel,
      .actions__confirm {
        padding: 0.5rem 1rem;
        font-size: 1.15rem;
      }
    }
  }
}
