.layout {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

.main-content {
  flex: 1;
  z-index: 0;
  background-color: $color-background-primary;
  overflow-y: auto;
}
