.layout {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

.main-content {
  flex: 1;
  box-shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.25) inset;
  background-color: $color-background-primary;
  overflow-y: auto;
}
