.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;

  &__title {
    color: $color-text-black;
    font-weight: 400;
    font-size: 1rem;
  }

  &__progress-bar {
    border-radius: 0.3rem;
    background-color: $color-switch-buttons-background;
    width: 100%;
    height: 0.7rem;
    overflow: hidden;

    & > div {
      background-color: $color-success;
      height: 100%;
    }

    &--date > div {
      background-color: $color-info;
    }
  }

  &__labels {
    display: flex;
    justify-content: space-between;
    color: $color-text-gray;
    font-size: 0.85em;
    letter-spacing: 0.5px;

    .labels__start {
      text-align: left;
    }

    .labels__end {
      text-align: right;
    }
  }
}
