@use 'sass:color';

/* ================= FUNCTIONS ================= */

/* ================= COLORS PALLETE ================= */

$color-background-primary: #f5f5f5;
$color-background-primary-hover: #f2f2f2;

$color-accent-primary: #44c797;
$color-accent-primary-hover: color.adjust(
  $color-accent-primary,
  $lightness: 10%
);
$color-accent-secondary: #f9e49e;
$color-accent-secondary-hover: color.adjust(
  $color-accent-secondary,
  $lightness: -10%
);

$color-success: #198754;
$color-error: #dc3545;
$color-warning: #ffc107;
$color-info: #0dcaf0;
$color-rejected: #7c7c7c;

$color-text-white: #ffffff;
$color-subtext-white: #f8f8f8;
$color-text-black: #000000;
$color-subtext-black: #101010;
$color-text-gray: #616161;
$color-subtext-gray: #767676;
$color-text-light-gray: #c9c9c9;

$color-aside-background: #3b6861;
$color-modal-background: #f2f2f2;
$color-buttons-black: #000000;
$color-buttons-black-hover: color.adjust(
  $color-buttons-black,
  $lightness: +15%
);
$color-logout-button: #d92033;
$color-inputs: #e2e2e2;
$color-gray-lines: #d4d4d4;

/* ================= GRADIENTS ================= */

$gradient-primary-horizontal: linear-gradient(90deg, #273247 0%, #6bd3ad 100%);
$gradient-primary-diagonal: linear-gradient(
  113deg,
  #273247 0%,
  #6bd3ad 100.33%
);

$gradient-secondary-horizontal: linear-gradient(
  90deg,
  $color-aside-background 0%,
  $color-accent-secondary 100%
);
$gradient-secondary-diagonal: linear-gradient(
  113deg,
  $color-aside-background 0%,
  $color-accent-secondary 100.33%
);

$gradient-logout-horizontal: linear-gradient(
  90deg,
  $color-aside-background 0%,
  $color-logout-button 100%
);

/* ================= FONTS ================= */

$font-general: (
  font-family: (
    'Inter',
    sans-serif,
  ),
  font-weight: 300,
);

$font-heading-primary: (
  font-family: (
    'Inter',
    sans-serif,
  ),
  font-weight: 500,
);

/* ================= SHADOWS ================= */
