@use 'sass:color';

/* ================= FUNCTIONS ================= */

/* ================= COLORS PALLETE ================= */

$color-background-primary: #f2f2f2;
$color-background-primary-hover: #ebebeb;

$color-accent-primary: #44c797;
$color-accent-primary-hover: color.adjust(
  $color-accent-primary,
  $lightness: 10%
);
$color-accent-secondary: #f9e49e;
$color-accent-secondary-hover: color.adjust(
  $color-accent-secondary,
  $lightness: -10%
);

$color-success: #198754;
$color-success-hover: color.adjust($color-success, $lightness: -7.5%);
$color-error: #dc3545;
$color-error-hover: color.adjust($color-error, $lightness: -10%);
$color-warning: #ffc107;
$color-warning-hover: color.adjust($color-warning, $lightness: -7.5%);
$color-info: #0dcaf0;
$color-info-hover: color.adjust($color-info, $lightness: -10%);

$color-text-white: #ffffff;
$color-subtext-white: #f8f8f8;
$color-text-black: #000000;
$color-subtext-black: #101010;
$color-text-gray: #616161;
$color-subtext-gray: #9d9d9d;
$color-text-light-gray: #c9c9c9;

$color-aside-background: #3b6861;
$color-modal-background: #f2f2f2;
$color-bento-background: #ffffff;
$color-buttons-black: #000000;
$color-buttons-black-hover: color.adjust(
  $color-buttons-black,
  $lightness: +20%
);
$color-logout-button: #d92033;
$color-switch-buttons-background: #d0d0d0;
$color-inputs: #e2e2e2;
$color-gray-lines: #d4d4d4;
$color-drag-and-drop-border: #aaa;
$color-drag-and-drop-border-dragging: #007bff;
$color-drag-and-drop-background-dragging: #eef;
$color-discarded: #5a5a5a;
$color-discarded-hover: color.adjust($color-discarded, $lightness: +10%);

/* ================= GRADIENTS ================= */

$gradient-primary-horizontal: linear-gradient(90deg, #273247 0%, #6bd3ad 100%);
$gradient-primary-diagonal: linear-gradient(
  113deg,
  #273247 0%,
  #6bd3ad 100.33%
);

$gradient-secondary-horizontal: linear-gradient(
  90deg,
  $color-aside-background 0%,
  $color-accent-secondary 100%
);
$gradient-secondary-diagonal: linear-gradient(
  113deg,
  $color-aside-background 0%,
  $color-accent-secondary 100.33%
);

$gradient-logout-horizontal: linear-gradient(
  90deg,
  $color-aside-background 0%,
  $color-logout-button 100%
);

/* ================= FONTS ================= */

$font-general: (
  font-family: (
    'Inter',
    sans-serif,
  ),
  font-weight: 300,
);

$font-heading-primary: (
  font-family: (
    'Inter',
    sans-serif,
  ),
  font-weight: 500,
);

/* ================= SHADOWS ================= */

$shadow-light: 0 0 0.2rem rgba(0, 0, 0, 0.25);
$shadow-medium: 0 0 0.2rem rgba(0, 0, 0, 0.5);
