.nothing-to-show-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0 2rem;

  &__icon {
    stroke-width: 1px !important;
    width: auto;
    height: 3rem;
    color: $color-text-black;
  }

  &__text {
    color: $color-text-black;
    font-size: 1.5rem;
    text-align: center;
  }
}
