$bento-border-radius: 0.75rem;

.fund-tile {
  display: flex;
  border-radius: $bento-border-radius;
  background-color: $color-bento-background;
  min-width: 500px;
  min-height: 200px;

  &__photo {
    border-radius: $bento-border-radius 0 0 $bento-border-radius;
    max-width: 200px;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    .details__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      & > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .fund-title {
          color: $color-text-black;
          font-weight: 600;
          font-size: 1.5rem;
        }

        .fund-child,
        .fund-child-class {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          color: $color-text-black;
          font-size: 1rem;

          & > svg {
            width: auto;
            min-width: 1.5rem;
            height: 1.5rem;
          }
        }

        .fund-child {
          font-weight: 400;

          & > svg {
            stroke-width: 1.5px !important;
          }
        }

        .fund-child-class {
          font-style: italic;
          font-weight: 300;

          & > svg {
            stroke-width: 1px !important;
          }
        }
      }

      & > div:last-child {
        @include info-tile;
        align-self: flex-start;
        white-space: nowrap;
      }
    }

    .details__description {
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      padding-bottom: 0.1rem;
      overflow: hidden;
      color: $color-subtext-gray;
      font-size: 1rem;
      text-overflow: ellipsis;
    }

    .details__time {
      margin: 0.5rem 0;
    }

    .details__bugdet {
      margin-bottom: 0.5rem;
    }

    .details__actions-bar {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 0.5rem;

      & > button {
        padding: 0.25rem min(0.5rem, 3%);
        font-size: 1rem;
      }

      .actions-bar__more-info {
        @include default-button;
      }

      .actions-bar__make-payment {
        @include default-button-with-spinner(
          $color-accent-primary,
          $color-accent-primary-hover,
          $color-text-white
        );
      }

      .actions-bar__reject {
        @include default-button-with-spinner(
          $color-rejected,
          $color-rejected-hover,
          $color-text-white
        );
        display: flex;
        justify-content: center;
        align-items: center;

        & > svg {
          stroke-width: 1.5px !important;
          width: auto;
          height: 80%;
        }
      }
    }
  }
}
