$record-font-size: 1rem;

.skeleton-record {
  display: flex;
  align-items: center;
  gap: min(1.5rem, 8%);
  width: 100%;

  .skeleton-text {
    flex-shrink: 0;
    border-radius: 0.25rem;
    background-color: $color-skeleton-background;
    height: $record-font-size;

    &--date {
      width: 100px;
    }

    &--description {
      flex-grow: 1;
    }

    &--fund {
      width: 180px;
    }
  }
}

.shimmer {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    animation: shimmer-effect 2s infinite;
    background-image: linear-gradient(
      90deg,
      rgba($color-skeleton-shimmer, 0) 0,
      rgba($color-skeleton-shimmer, 0.3) 20%,
      rgba($color-skeleton-shimmer, 0.6) 60%,
      rgba($color-skeleton-shimmer, 0)
    );
    content: '';
  }
}

@keyframes shimmer-effect {
  100% {
    transform: translateX(100%);
  }
}
