$record-font-size: 1rem;

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(0.5rem, 3%);
  width: 100%;

  & > div {
    display: flex;
    flex: 1;
    align-items: center;
    gap: min(1rem, 5%);

    & > p {
      color: $color-text-black;
      font-size: $record-font-size;
    }
  }

  &__date {
    color: $color-subtext-gray;
  }

  &__operation {
    &--refund {
      color: $color-subtext-gray;
      font-weight: 600;
    }

    &--withdrawal {
      color: $color-error;
      font-weight: 600;
    }

    &--deposit {
      color: $color-success;
      font-weight: 600;
    }
  }

  &__money {
    font-weight: 600;
    font-size: inherit;

    &--payment,
    &--deposit {
      color: $color-success;
    }

    &--withdrawal,
    &--refund {
      color: $color-error;
    }
  }

  &__child {
    color: $color-text-black;
    font-weight: 500;
    font-size: inherit;
  }

  &__description-wrapper {
    position: relative;

    .description-wrapper__icon {
      width: auto;
      min-width: $record-font-size;
      height: $record-font-size;

      &:hover + .description-wrapper__tooltip {
        display: flex;
      }
    }

    .description-wrapper__tooltip {
      display: none;
      position: absolute;
      top: -45%;
      right: calc(100% + 12px);
      justify-content: center;
      align-items: center;
      box-shadow: $shadow-medium;
      border-radius: 0.5rem;
      background-color: $color-bento-background;
      padding: 0.5rem;
      min-width: 300px;
      color: $color-text-black;
      font-size: $record-font-size;
      text-align: center;

      &::before {
        position: absolute;
        top: $record-font-size;
        right: -5px;
        transform: translateY(-50%) rotate(45deg);
        box-shadow: 1px -1px 0.1rem rgba(0, 0, 0, 0.3);
        background: $color-bento-background;
        width: 10px;
        height: 10px;
        content: '';
      }
    }
  }

  &__fund {
    color: $color-info;
    font-weight: 500;
    font-size: $record-font-size;
  }
}
