$page-padding: 2rem;
$bento-border-radius: 0.75rem;
$bento-gap: 2rem;

.page {
  display: flex;
  justify-content: center;
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);
}

.grid-container {
  display: grid;
  grid-template-rows: 300px 200px;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'avatar basic-info-form'
    'password-form password-form';
  gap: $bento-gap;
  margin-top: 5vh;
  width: 100%;
  max-width: 1024px;
  min-height: inherit;

  &__avatar {
    display: flex;
    grid-area: avatar;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-light;
    border: 2px solid $color-bento-background;
    border-radius: $bento-border-radius;
    background: transparent;
    padding: 2rem;
  }

  &__basic-info-form {
    grid-area: basic-info-form;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__password-form {
    grid-area: password-form;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }
}

.avatar-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 100%;
  max-width: 256px;

  &:hover .avatar__overlay {
    visibility: visible;
    opacity: 1;
  }

  .avatar {
    &__photo {
      position: absolute;
      z-index: 1;
      @include round-photo;
      width: inherit;
      max-width: inherit;
    }

    &__overlay {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      z-index: 2;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
      border-radius: 50%;
      background-color: rgb(0 0 0 / 40%);
      aspect-ratio: 1;
      width: inherit;
      max-width: inherit;

      & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 20%;
        color: $color-text-white;
      }
    }
  }
}
