$page-padding: 2rem;
$bento-border-radius: 0.75rem;
$bento-gap: 1rem;

.page {
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'fund-list children'
    'fund-list history'
    'fund-list history'
    'fund-list history'
    'fund-list history';
  gap: $bento-gap;
  min-height: inherit;

  &__fund-list {
    display: flex;
    grid-area: fund-list;
    flex-direction: column;
    gap: $bento-gap;
  }

  &__children {
    grid-area: children;
    border-radius: $bento-border-radius;
  }

  &__history {
    display: flex;
    grid-area: history;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }
}

.children-report {
  display: flex;
  gap: $bento-gap;
  height: 100%;

  &__left-col {
    flex: 1;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem 1rem 0.5rem 1rem;

    .left-col__scrollbar-container {
      display: flex;
      gap: $bento-gap;
      box-sizing: border-box;
      padding-bottom: 0.5rem;
      max-width: 24vw;
      height: 100%;
      overflow-x: auto;
    }
  }

  &__right-col {
    display: flex;
    flex-direction: column;
    gap: $bento-gap;
    width: 250px;

    .right-col__summary {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      border-radius: $bento-border-radius;
      background-color: $color-bento-background;
      padding: 1rem;

      & > span {
        white-space: nowrap;
      }

      & > span:nth-of-type(odd) {
        font-weight: 500;
        text-align: left;
      }

      & > span:nth-of-type(even) {
        text-align: right;
      }
    }

    .right-col__generate-report {
      @include default-button;
      border-radius: $bento-border-radius;
      width: 100%;
      height: 100%;
      font-size: 1.25rem;
    }
  }
}

.child-tile {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: $color-background-primary-hover;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  text-align: center;

  &--selected {
    background-color: $color-accent-secondary;
  }

  &__name,
  &__class {
    color: $color-text-black;
    font-weight: 500;
    font-size: 1rem;
  }

  &__details {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1rem;
    margin: 0.5rem 0 1rem 0;

    & > span {
      color: $color-text-gray;
      font-size: 0.9rem;
      white-space: nowrap;
    }

    & > span:nth-of-type(odd) {
      text-align: left;
    }

    & > span:nth-of-type(even) {
      text-align: right;
    }
  }

  &__info-to-click {
    font-style: italic;
    font-size: 0.8rem;
  }
}

.history {
  &__label {
    color: $color-text-gray;
    font-weight: 500;
    font-size: 1rem;
  }
}

.history-fund-tile {
  display: grid;
  grid-template: 1fr / 200px repeat(2, 1fr);
  border-radius: $bento-border-radius;
  background-color: $color-background-primary-hover;

  &__photo {
    border-radius: $bento-border-radius 0 0 $bento-border-radius;
    max-width: 200px;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;

    .details__fund-title {
      color: $color-text-black;
      font-weight: 600;
      font-size: 1.25rem;
    }

    .details__fund-child {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      color: $color-text-black;
      font-weight: 400;
      font-size: 1rem;

      & > svg {
        stroke-width: 1.5px !important;
        width: auto;
        min-width: 1.5rem;
        height: 1.5rem;
      }
    }

    & > span {
      color: $color-text-gray;
      font-size: 0.9rem;
    }
  }

  &__info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'status status payment-percent'
      'status status payment-percent'
      'more-info more-info more-info';
    gap: 0.75rem;
    padding: 0.75rem;

    .info__fund-status {
      grid-area: status;
      font-size: 1.5em;
    }

    .info__payment-percent {
      grid-area: payment-percent;
    }

    .info__more-info {
      grid-area: more-info;
      @include default-button;
      font-size: 1em;
    }
  }
}
