$page-padding: 2rem;
$bento-border-radius: 0.75rem;
$bento-gap: 1rem;

.page {
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'fund-list children'
    'fund-list history'
    'fund-list history'
    'fund-list history';
  gap: $bento-gap;
  min-height: inherit;

  &__fund-list {
    display: flex;
    grid-area: fund-list;
    flex-direction: column;
    gap: $bento-gap;
  }

  &__children {
    display: flex;
    grid-area: children;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
  }

  &__history {
    display: flex;
    grid-area: history;
    flex-direction: column;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;

  &__prev,
  &__next {
    @include default-button;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.6rem;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1;

    & > svg {
      stroke-width: 2px !important;
      width: auto;
      height: 1.25rem;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $color-text-light-gray;
      color: $color-text-gray;
    }
  }

  &__prev {
    padding-right: 0.7rem;
  }

  &__next {
    padding-left: 0.7rem;
  }

  &__pages {
    display: flex;
    gap: 0.5rem;

    .pages__page {
      @include default-button(
        $color-switch-buttons-background,
        $color-accent-secondary-hover,
        $color-text-black
      );
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      aspect-ratio: 1/1;
      height: 100%;
      font-weight: 400;

      &--active {
        background-color: $color-buttons-black;
        color: $color-text-white;

        &:hover {
          background-color: $color-buttons-black;
        }
      }
    }
  }
}

.fund-tile {
  display: flex;
  border-radius: $bento-border-radius;
  background-color: $color-bento-background;
  min-height: 200px;

  &__photo {
    border-radius: $bento-border-radius 0 0 $bento-border-radius;
    max-width: 200px;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .details__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      & > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .fund-title {
          color: $color-text-black;
          font-weight: 500;
          font-size: 1.25rem;
        }

        .fund-child {
          color: $color-text-black;
          font-size: 1rem;
        }
      }

      & > div:last-child {
        @include info-tile;
        white-space: nowrap;
      }
    }

    .details__description {
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      padding-bottom: 0.1rem;
      overflow: hidden;
      color: $color-subtext-gray;
      font-size: 1rem;
      text-overflow: ellipsis;
    }

    .details__time {
      margin: 0.5rem 0;
    }

    .details__actions-bar {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 0.5rem;

      & > button {
        padding: 0.25rem min(2rem, 3%);
        font-size: 1rem;
      }

      .actions-bar__more-info {
        @include default-button;
      }

      .actions-bar__make-payment {
        @include default-button(
          $color-accent-primary,
          $color-accent-primary-hover,
          $color-text-white
        );
      }

      .actions-bar__discard {
        @include default-button(#5a5a5a, #747474, $color-text-white);
        display: flex;
        justify-content: center;
        align-items: center;

        & > svg {
          stroke-width: 1.5px !important;
          width: auto;
          height: 80%;
        }
      }
    }
  }
}
