$bento-border-radius: 0.75rem;

.skeleton-tile {
  display: grid;
  grid-template: 1fr / 200px repeat(2, 1fr);
  border-radius: $bento-border-radius;
  background-color: #f0f0f0;
  width: 100%;
  min-height: 140px;
  overflow: hidden;

  &__photo {
    background-color: $color-skeleton-background;
    height: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.75rem;

    .details__dates {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      margin-top: 0.5rem;
    }
  }

  &__info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'status status progress'
      'status status progress'
      'button button button';
    gap: 0.75rem;
    padding: 0.75rem;

    .info__status-placeholder {
      grid-area: status;
      border-radius: 0.5rem;
      background-color: $color-skeleton-background;
    }

    .info__progress-placeholder {
      grid-area: progress;
      justify-self: center;
      border-radius: 50%;
      background-color: $color-skeleton-background;
      aspect-ratio: 1/1;
      width: 100%;
    }

    .info__button-placeholder {
      grid-area: button;
      border-radius: 0.5rem;
      background-color: $color-skeleton-background;
    }
  }
}

.skeleton-line {
  border-radius: 0.25rem;
  background-color: $color-skeleton-background;
  height: 1rem;

  &--title {
    width: 85%;
    height: 1.5rem;
  }

  &--subtitle {
    width: 60%;
  }

  &--small {
    width: 40%;
    height: 0.75rem;
  }
}

.shimmer {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    animation: shimmer-animation 2s infinite;
    background-image: linear-gradient(
      90deg,
      rgba($color-skeleton-shimmer, 0) 0,
      rgba($color-skeleton-shimmer, 0.3) 20%,
      rgba($color-skeleton-shimmer, 0.6) 60%,
      rgba($color-skeleton-shimmer, 0)
    );
    content: '';
  }
}

@keyframes shimmer-animation {
  100% {
    transform: translateX(100%);
  }
}
