.fund-info-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: $color-modal-background;
  padding: 2rem 2.75rem;
  width: 900px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .top__title {
      font-weight: 500;
      font-size: 1.5rem;
    }

    .top__close-icon-button {
      transition: color 0.4s ease;
      cursor: pointer;
      stroke-width: 1.5px !important;
      width: auto;
      height: 2.25rem;

      &:hover {
        color: $color-accent-primary;
      }
    }
  }

  &__form {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;

    .form__left-side {
      width: 45%;
    }

    .form__right-side {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      width: 55%;
    }

    .form__dates {
      display: flex;
      gap: 1rem;

      & > div {
        width: 50%;
      }
    }

    .form__payment-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.5rem;
      background-color: $color-modal-summary;
      padding: 1rem;

      .payment-info__label {
        @include section-small-label;
        margin-bottom: 0.5rem;
      }

      & > span {
        color: $color-text-black;
        font-size: 0.9rem;
        text-align: center;
      }
    }

    .form__actions {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .actions__cancel {
        @include default-button-with-spinner;
      }

      .actions__confirm {
        @include default-button-with-spinner(
          $color-accent-primary,
          $color-accent-primary-hover
        );
      }

      .actions__cancel,
      .actions__confirm {
        padding: 0.5rem 1rem;
        font-size: 1.15rem;
      }
    }
  }
}
