$page-padding: 2rem;
$elements-border-radius: 0.75rem;
$table-spacings: 1rem;
$table-min-width: 400px;
$table-max-width: 1024px;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);

  &__label {
    margin: 5vh 0;
    font-weight: 400;
    font-size: clamp(1rem, 4vw, 2.5rem);
  }
}

.history-table-wrapper {
  border: 1px solid $color-gray-lines;
  border-radius: $elements-border-radius;
  width: clamp($table-min-width, 100%, $table-max-width);
  overflow: hidden;
}

.history-table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $color-bento-background;
  width: 100%;

  &__header {
    background-color: transparent;

    & > tr > th {
      border-bottom: 1px solid $color-gray-lines;
      padding: $table-spacings 0 $table-spacings $table-spacings;
      color: $color-text-black;
      font-weight: 500;
      text-align: left;

      &:first-child {
        padding-left: $table-spacings;
      }

      &:last-child {
        padding-right: $table-spacings;
      }
    }
  }

  &__row {
    border-bottom: 1px solid $color-gray-lines;

    &:last-child {
      border: 0;
    }
  }

  &__cell {
    padding: $table-spacings 0 $table-spacings $table-spacings;
    color: $color-text-black;

    &:last-child {
      padding-right: $table-spacings;
    }

    &--amount,
    &--status {
      font-weight: 600;
    }

    &--positive {
      color: $color-success;
    }

    &--negative {
      color: $color-error;
    }

    &--neutral {
      color: $color-warning;
    }
  }
}

.default-pagination-wrapper {
  width: clamp($table-min-width, 100%, $table-max-width);
}

.payment-history-pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  width: clamp($table-min-width, 100%, $table-max-width);
}

.payment-history-pagination {
  display: flex;
  border: 1px solid $color-gray-lines;
  border-radius: $elements-border-radius;
  background-color: $color-bento-background;

  &__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 1rem;
    color: $color-text-black;
    text-align: center;
    white-space: nowrap;

    &--highlighted {
      font-weight: 500;
    }
  }

  &__prev,
  &__next {
    @include default-button(
      $color-bento-background,
      $color-background-primary-hover,
      $color-text-black
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $color-gray-lines;
    border-radius: 0;
    padding: 0.5rem;
    aspect-ratio: 1;

    & > svg {
      stroke-width: 1.5px !important;
      width: auto;
      height: 2rem;
      color: $color-text-black;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $color-background-primary-hover;

      & > svg {
        color: $color-text-gray;
      }
    }
  }

  &__next {
    border-radius: 0 $elements-border-radius $elements-border-radius 0;
  }
}

.nothing-to-show-information {
  margin-top: 2rem;
}
