$page-padding: 2rem;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);

  &__label {
    margin: 5vh 0;
    font-weight: 400;
    font-size: clamp(1rem, 4vw, 2.5rem);
  }
}
