$page-padding: 2rem;
$bento-border-radius: 0.75rem;
$bento-gap: 1rem;

.page {
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);
}

.grid-container {
  display: grid;
  grid-template-rows: 50px 50px repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'top-bar treasurer'
    'fund-list treasurer'
    'fund-list class-info'
    'fund-list children'
    'fund-list children'
    'fund-list children';
  gap: $bento-gap;
  min-height: inherit;

  &__top-bar {
    display: flex;
    grid-area: top-bar;
    gap: $bento-gap;
  }

  &__fund-list {
    display: flex;
    grid-area: fund-list;
    flex-direction: column;
    gap: $bento-gap;
  }

  &__treasurer {
    display: flex;
    grid-area: treasurer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__class-info {
    display: flex;
    grid-area: class-info;
    flex-direction: column;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__children {
    display: flex;
    grid-area: children;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem min(2rem, 5%);
  }
}

.top-bar {
  &__return-btn,
  &__generate-report-btn {
    @include default-button;
    border-radius: $bento-border-radius;
    padding: 0.25rem min(1rem, 3%);
    font-weight: 400;
    font-size: 1.25rem;
  }

  &__return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__class-name {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
  }
}

.treasurer {
  &__label {
    color: $color-text-gray;
    font-weight: 500;
    font-size: 0.9rem;
  }

  &__card-and-class-code {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .treasurer__card {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .treasurer__photo {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 3.5rem;
        object-fit: cover;
        font-style: italic;
      }

      .treasurer__info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & > h4 {
          font-weight: 400;
          font-size: 1.25rem;
        }

        & > span {
          color: $color-text-gray;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.class-code-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: $color-background-primary-hover;
  padding: 0.5rem;
  min-width: 150px;

  &__label {
    color: $color-text-gray;
    font-weight: 500;
    font-size: 0.9rem;
  }

  &__code {
    filter: blur(8px);
    transition: filter 0.5s ease-in-out;
    cursor: pointer;
    padding: 0.5rem;
    color: $color-text-black;
    font-weight: 500;
    font-size: 1.25rem;
    user-select: none;
    text-align: center;
    white-space: nowrap;

    &--visible {
      filter: blur(0);
      cursor: default;
      user-select: text;
    }
  }
}

.class-info__top-row {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 50%;

  & > div {
    @include info-tile;
    flex-grow: 1;

    &:first-child {
      flex-grow: 2;
    }
  }
}

.class-info__bottom-row {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 50%;

  & > div {
    @include info-tile-with-icon;
    flex-grow: 1;
  }
}

.children {
  &__label {
    display: flex;
    justify-content: space-around;
    gap: 35%;
    width: 100%;
    color: $color-text-gray;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
  }
}

.child-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid $color-gray-lines;
  padding-bottom: 0.5rem;
  width: 100%;

  &__parent {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .parent__photo {
      @include round-photo;
      height: 2.5rem;
    }

    .parent__name {
      color: $color-text-black;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  &__child {
    color: $color-success;
    font-weight: 500;
    font-size: 1rem;
  }
}
