.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: $gradient-primary-diagonal;
  z-index: 0;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/authentication-overlay.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__text {
    font-size: 4rem;
    color: $color-text-white;
    @include apply-font($font-heading-primary);

    &--accent {
      color: $color-accent-secondary;
    }
  }
}
