$bento-border-radius: 0.75rem;

.skeleton-tile {
  display: flex;
  border-radius: $bento-border-radius;
  background-color: $color-bento-background;
  min-width: 500px;
  min-height: 200px;
  overflow: hidden;

  &__photo {
    background-color: $color-skeleton-background;
    min-width: 200px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 100%;

    .details__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .top__left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 60%;
      }
    }

    .details__description {
      display: flex;
      flex-direction: column;
      gap: 0.15rem;
      width: 100%;
    }

    .details__actions-bar {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      margin-top: auto;
    }
  }
}

.skeleton-line {
  border-radius: 0.25rem;
  background-color: $color-skeleton-background;
  width: 100%;
  height: 1rem;

  &--title {
    margin-bottom: 0.25rem;
    width: 80%;
    height: 1.5rem;
  }

  &--subtitle {
    width: 50%;
    height: 1rem;
  }

  &--short {
    width: 40%;
  }
}

.skeleton-pill {
  border-radius: 0.5rem;
  background-color: $color-skeleton-background;
  width: 100px;
  height: 48px;
}

.skeleton-button {
  border-radius: 0.5rem;
  background-color: $color-skeleton-background;
  width: 100px;
  height: 36px;
}

.shimmer {
  position: relative;
  background-color: $color-skeleton-background;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    animation: shimmer 1.5s infinite;
    background-image: linear-gradient(
      90deg,
      rgba($color-skeleton-shimmer, 0) 0,
      rgba($color-skeleton-shimmer, 0.2) 20%,
      rgba($color-skeleton-shimmer, 0.5) 60%,
      rgba($color-skeleton-shimmer, 0)
    );
    content: '';
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
