.http-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;

  &__status {
    color: $color-error;
    font-size: 3rem;
  }

  &__data {
    font-size: 1.25rem;
  }

  &__return {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 2rem;
    font-size: 1.15rem;
    @include default-button;
    padding: 0.75rem 1.25rem;
  }
}

.js-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;

  &__title {
    color: $color-text-black;
    font-size: 2.5rem;
  }

  &__message {
    color: $color-error;
    font-size: 1.75rem;
  }

  &__stack-trace {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    border: 1px solid $color-gray-lines;
    border-radius: 0.5rem;
    padding: 1rem;

    .stack-trace__title {
      align-self: center;
      color: $color-text-black;
      font-weight: 400;
      font-size: 1.25rem;
    }

    .stack-trace__stack {
      color: $color-subtext-gray;
    }
  }

  &__return {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 2rem;
    font-size: 1.15rem;
    @include default-button;
    padding: 0.75rem 1.25rem;
  }
}

.default-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;

  &__title {
    color: $color-error;
    font-size: 2.5rem;
  }
}
