$bar-width: 12px;
$color-medium: #e3b529;

.circular-progress-bar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  container-type: size;
  width: 100%;
  height: 100%;

  &__svg {
    position: absolute;
    transform: rotate(-90deg);
    fill: transparent;
    width: 100%;
    height: 100%;
  }

  &__circle {
    transition:
      stroke-dashoffset 0.5s ease-out,
      stroke 0.3s ease;
    stroke-linecap: round;
    stroke-width: $bar-width;

    &--background {
      stroke: $color-text-white;
      stroke-width: $bar-width;
    }

    &--low {
      stroke: $color-error;
    }

    &--medium {
      stroke: $color-medium;
    }

    &--high {
      stroke: $color-success;
    }
  }

  &__percent {
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 25cqw;

    &--low {
      color: $color-error;
    }

    &--medium {
      color: $color-medium;
    }

    &--high {
      color: $color-success;
    }
  }
}
