$page-padding: 2rem;
$bento-border-radius: 0.75rem;
$bento-gap: 1rem;

.page {
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);
}

.grid-container {
  display: grid;
  grid-template-rows: 50px repeat(4, 100px) 1fr;
  grid-template-columns: calc(2 * $bento-gap + 300px) 1fr 350px;
  gap: $bento-gap;
  min-height: inherit;

  &--parent {
    grid-template-areas:
      'top-bar top-bar top-bar'
      'fund-photo fund-details fund-cost'
      'fund-photo fund-details child-info'
      'fund-photo fund-details fund-documents'
      'fund-budget event-log fund-documents'
      'fund-budget event-log fund-documents';
  }

  &--treasurer {
    grid-template-areas:
      'top-bar top-bar top-bar'
      'fund-photo fund-details available-funds'
      'fund-photo fund-details event-log'
      'fund-photo fund-details event-log'
      'fund-budget children-info event-log'
      'fund-budget children-info fund-documents';
  }

  &__top-bar {
    display: flex;
    grid-area: top-bar;
    justify-content: space-between;
    gap: $bento-gap;
  }

  &__fund-photo {
    grid-area: fund-photo;
    border-radius: $bento-border-radius;

    & > img {
      border-radius: $bento-border-radius;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      font-style: italic;
    }
  }

  &__fund-details {
    grid-area: fund-details;
    box-sizing: border-box;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: min(2rem, 5%);
    min-width: 170px;
  }

  &__fund-cost {
    display: flex;
    grid-area: fund-cost;
    justify-content: center;
    align-items: center;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
    white-space: nowrap;
  }

  &__available-funds {
    grid-area: available-funds;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
  }

  &__child-info {
    display: flex;
    grid-area: child-info;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
  }

  &__fund-budget {
    display: flex;
    grid-area: fund-budget;
    flex-direction: column;
    gap: $bento-gap;
  }

  &__event-log {
    display: flex;
    grid-area: event-log;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__children-info {
    display: flex;
    grid-area: children-info;
    flex-direction: column;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__fund-documents {
    display: flex;
    grid-area: fund-documents;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }
}

.top-bar {
  &__left-side,
  &__right-side {
    display: flex;
    gap: $bento-gap;

    & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      font-weight: 400;
      font-size: 1.15rem;

      & > svg {
        stroke-width: 2px !important;
        width: auto;
        height: 1.5rem;
      }
    }
  }

  &__return {
    @include default-button;
  }

  &__generate-report {
    @include default-button;
  }

  &__edit {
    @include default-button(
      $color-warning,
      $color-warning-hover,
      $color-text-white
    );
  }

  &__cancel {
    @include default-button(
      $color-error,
      $color-error-hover,
      $color-text-white
    );
  }

  &__deposit {
    @include default-button(
      $color-success,
      $color-success-hover,
      $color-text-white
    );
  }

  &__withdraw {
    @include default-button(
      $color-accent-primary,
      $color-accent-primary-hover,
      $color-text-white
    );
  }

  &__make-payment {
    @include default-button(
      $color-accent-primary,
      $color-accent-primary-hover,
      $color-text-white
    );
  }

  &__reject {
    @include default-button(
      $color-rejected,
      $color-rejected-hover,
      $color-text-white
    );
  }
}

.fund-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .fund-details__title {
      font-weight: 600;
      font-size: 1.75rem;
    }
  }

  &__time {
    margin-bottom: 2rem;
  }
}

.child-info {
  &__label-icon {
    stroke-width: 2px !important;
    color: $color-text-black;
  }

  &__names {
    color: $color-text-black;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
  }

  &__class {
    color: $color-text-black;
    font-size: 1rem;
  }
}

.budget-info-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: $bento-border-radius;
  background-color: $color-bento-background;
  padding: 1rem;

  &__label {
    @include section-small-label;
  }

  &__stats {
    $budget-font-size: 1rem;
    display: grid;
    grid-template-rows: repeat(5, $budget-font-size);
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;

    & > span {
      font-size: $budget-font-size;
    }

    & > span:nth-of-type(odd) {
      text-align: left;
    }

    & > span:nth-of-type(even) {
      text-align: right;
    }
  }

  &__progress-ring {
    margin: 1rem 0;
    aspect-ratio: 1;
    width: 50%;
  }

  &__progress-ring-background {
    stroke: $color-background-primary-hover !important;
  }
}

.budget-participants-tiles {
  display: flex;
  gap: $bento-gap;
  width: 100%;

  &__children,
  &__parents {
    @include info-tile-with-icon($color-bento-background);
    width: 50%;
  }
}

.event-log {
  &__label {
    @include section-small-label;
  }
}

.fund-documents {
  &__label {
    @include section-small-label;
  }

  &__upload-files {
    @include default-button;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1rem;
  }
}

.fund-document {
  display: flex;
  gap: 0.5rem;
  border-radius: $bento-border-radius;
  background-color: $color-background-primary-hover;
  padding: 0.5rem;

  &__thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    aspect-ratio: 1;
    height: 100%;

    & > svg {
      stroke-width: 1px !important;
      width: auto;
      height: 40%;
      color: $color-text-black;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .details__title {
      color: $color-text-black;
      font-weight: 500;
      font-size: 1rem;
    }

    .details__description {
      color: $color-subtext-gray;
      font-size: 0.9rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s ease;
      cursor: pointer;
      border: 0;
      border-radius: 0.5rem;
      background-color: $color-bento-background;
      padding: 0.25rem;
      aspect-ratio: 1;

      & > svg {
        height: 1.25rem;
        color: $color-text-black;
      }
    }

    .actions__edit {
      &:hover {
        background-color: $color-accent-secondary-hover;
      }
    }

    .actions__delete {
      &:hover {
        background-color: $color-error;
      }
    }

    .actions__download {
      &:hover {
        background-color: $color-info-hover;
      }
    }
  }
}
