$page-padding: 2rem;
$bento-border-radius: 0.75rem;
$bento-gap: 1rem;

.page {
  padding: $page-padding;
  min-height: calc(100vh - 2 * $page-padding);
}

.grid-container {
  display: grid;
  grid-template-rows: 50px repeat(4, 100px) 1fr;
  grid-template-columns: calc(2 * $bento-gap + 300px) 1fr 350px;
  gap: $bento-gap;
  min-height: inherit;

  &--parent {
    grid-template-areas:
      'top-bar top-bar top-bar'
      'fund-photo fund-details fund-cost'
      'fund-photo fund-details child-info'
      'fund-photo fund-details fund-documents'
      'fund-budget event-log fund-documents'
      'fund-budget event-log fund-documents';
  }

  &--treasurer {
    grid-template-areas:
      'top-bar top-bar top-bar'
      'fund-photo fund-details available-funds'
      'fund-photo fund-details event-log'
      'fund-photo fund-details event-log'
      'fund-budget children-info event-log'
      'fund-budget children-info fund-documents';
  }

  &__top-bar {
    display: flex;
    grid-area: top-bar;
    flex-direction: column;
    gap: $bento-gap;
  }

  &__fund-photo {
    grid-area: fund-photo;
    border-radius: $bento-border-radius;

    & > img {
      border-radius: $bento-border-radius;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      font-style: italic;
    }
  }

  &__fund-details {
    display: flex;
    grid-area: fund-details;
    flex-direction: column;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__fund-cost {
    grid-area: fund-cost;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
  }

  &__available-funds {
    grid-area: available-funds;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
  }

  &__child-info {
    grid-area: child-info;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
  }

  &__fund-budget {
    grid-area: fund-budget;
  }

  &__event-log {
    display: flex;
    grid-area: event-log;
    flex-direction: column;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__children-info {
    display: flex;
    grid-area: children-info;
    flex-direction: column;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }

  &__fund-documents {
    display: flex;
    grid-area: fund-documents;
    flex-direction: column;
    gap: 1rem;
    border-radius: $bento-border-radius;
    background-color: $color-bento-background;
    padding: 1rem;
  }
}
