$aside-border-radius: 5rem;
$aside-padding-top-bottom: 5rem;
$aside-padding-left-right: 7.5rem;

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  z-index: 2;
  box-shadow: -0.25rem 0 0.25rem rgba(0, 0, 0, 0.3);
  border-radius: $aside-border-radius 0 0 $aside-border-radius;
  background-color: $color-modal-background;
  padding: $aside-padding-top-bottom $aside-padding-left-right;
  min-width: 30%;
  height: calc(100% - 2 * $aside-padding-top-bottom);
}

.error-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: $color-error;
  padding: 1rem;
  color: $color-text-white;

  & > svg {
    width: auto;
    min-width: 1.5rem;
    height: 1.5rem;
  }

  & > span {
    font-weight: 400;
    font-size: 1rem;
  }
}

.title {
  @include apply-font($font-heading-primary);
  margin-bottom: 1rem;
  color: $color-text-black;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__submit {
    @include default-button-with-spinner();
    margin-top: 1rem;
    height: 3rem;
    font-size: 1.25rem;
  }
}

.auth-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;

  &__text {
    font-weight: 500;
  }

  &__button {
    border: 0;
    background-color: transparent;
    color: $color-accent-primary;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
